
* {
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, Helvetica, sans-serif;
    background-color:rgb(42, 40, 40);
  }
  
  /* Style the header */
  header {
    
    padding: 45px;
    text-align: left;
    font-size: 45px;
    height: 550px;
    
    
  }
  .banner{
      float: left;
  }
  .parrafo{
      float: left;
      margin-left: 300px;
      color: lavender;
  }
  h5{
    font-size: 50px;
    float: left;
    text-align: center;
    color: lavender;
    margin-left: 300px;
  }
  header{
      animation-name: example;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-delay: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }
    
  @keyframes example {
      0%   {background-color: gray;}
      25%  {background-color: rgb(220, 150, 20);}
      50%  {background-color:black;}
      100% {background-color: gray;}
  }
  
  /* Create two columns/boxes that floats next to each other */
  nav {
    float: left;
    width: 20%;
    height: 600px; /* only for demonstration, should be removed */
    padding: 50px;
    margin-top: 10px;
    clear: both;
  }
  nav {
      animation-name: example;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-delay: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }
    
  @keyframes example {
      0%   {background-color: black;}
      25%  {background-color: rgb(220, 150, 20);}
      50%  {background-color:whitesmoke;}
      100% {background-color: gray;}
  }
  
  /* Style the list inside the menu */
  nav ul {
    list-style-type:none;
    padding: 10px;
    font-size: 40px;
    
  }
  .lista{
    font-size: 30px;
    padding: 40px;
  }
  #foto2{
    margin-left: 60px;
  }
  #foto3{
    margin-left: 60px;
  }
  #foto4{
    margin-left: 60px;
  }
  
  article {
    float: left;
    padding: 85px;
    width: 80%;
    height: 600px; 
    margin-top: 10px;
    
  }
  article {
      animation-name: example;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-delay: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }
    
  @keyframes example {
      0%   {background-color: black;}
      25%  {background-color: rgb(220, 150, 20);}
      50%  {background-color:whitesmoke;}
      100% {background-color: gray;}
  }
  
  /* Clear floats after the columns */
  section::after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Style the footer */
  footer {
    background-color: transparent;
    padding: 40px;
    text-align:center;
    color: white;
    margin-top: 10px;
  }
  footer {
      animation-name: example;
      animation-duration: 5s;
      animation-timing-function: linear;
      animation-delay: 5s;
      animation-iteration-count: infinite;
      animation-direction: alternate;
  }
    
  @keyframes example {
      0%   {background-color: gray;}
      25%  {background-color: rgb(220, 150, 20);}
      50%  {background-color:rgb(118, 94, 94);}
      100% {background-color: gray;}
  }
  
  /* Responsive layout - makes the two columns/boxes stack on top of each other instead of next to each other, on small screens */
  @media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;
    }
  }